JWT validation regex' don't account for full base64 character set

JWT validation fails for some JWTs with an ArgumentException being thrown.

According to RFC7519, Section 3:

> A JWT is represented as a sequence of URL-safe parts separated by
> period ('.') characters.  Each part contains a base64url-encoded
> value.

According to RFC4648, Section 4, base64 also contains `+` and `/` as well as padding `=`. However both regex' used for validation only include `_` and `-` as special characters (besides alphanumerical ones).

This raises an ArgumentException when trying to parse or validate the JWT.

Affected constants are:
- System.IdentityModel.Tokens.Jwt.JwtConstants.JsonCompactSerializationRegex
- System.IdentityModel.Tokens.Jwt.JwtConstants.JweCompactSerializationRegex

Can you share the JWT?
Jwt's are base64Url encoded not base64.

Sorry, I misread RFC7519 and didn't see the "url" part (even though I quoted it). Thanks for pointing it out again :-)