JwtRegisteredClaimNames invalid references to RFC7519

### Describe the bug
Invalid JwtRegisteredClaimNames and invalid references to RFC7519 standard documentation.

#### Impersonalization (impersonation) login
I wanted to use default actor claim validation but it was failing since I implemented [OAuth Token Exchange Draft](https://tools.ietf.org/html/draft-ietf-oauth-token-exchange-16)

#### Finding unintended bug
I traced this a while, and found out that logic was different so had to implement my own case.
While tracing I found many claim types pointing to [RFC7519 Section 4](http://tools.ietf.org/html/rfc7519#section-4), but they don't exist there.

### To Reproduce
Open JwtRegisteredClaimNames (Go To Definition) class in IDE or editor of choice and 
compare to [RFC7519 Section 4](http://tools.ietf.org/html/rfc7519#section-4)

You will see wrong references and non existing claim types that refer to RFC7519 Section 4.
### Expected behavior
To be in sync with standard

### Screenshots
![screenshot](https://user-images.githubusercontent.com/9515864/54754570-15b01a00-4be4-11e9-952b-b5878f825111.png)

### Additional context
Versions: All up to latest 5.4.0 from [System.IdentityModel.Tokens.Jwt NuGet package](https://www.nuget.org/packages/System.IdentityModel.Tokens.Jwt)


@duki994 yes, actort is not a in the spec.
If we move it now, that would be breaking.

What would you like us to do?

@brentschmaltz
In that case just remove link towards standard from comment to not mislead developers.

I think that also "typ" claim is for JOSE header, and that is section 5 of RFC7519.

I can make a pull request, and then you and team review it :)